<section class="card">
  <div class="card-body">
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt eligendi consectetur voluptatibus ut ab,
      architecto, aut sint ipsa, molestiae vero doloremque qui harum atque? Minus quas rerum maxime officiis numquam!
    </p>
  </div>
</section>