<div class="jumbotron mt-4">
  <h1 class="display-4">Notes App Nodejs and MongoDB</h1>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut veritatis nesciunt, provident non, illum quos quo
    tempora nemo facilis molestias deserunt ut exercitationem quaerat doloremque in, aliquid eum quibusdam natus.</p>
  <hr class="my-4">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus incidunt, dolore perspiciatis maxime neque
    necessitatibus exercitationem earum officia deserunt vitae nisi mollitia voluptatem ullam. Eaque, incidunt.
    Similique odit delectus ad?
    Expedita itaque, quibusdam modi non veniam ullam in magnam, assumenda consequuntur nobis tempora labore aliquid
    iusto quam tempore a et deleniti, aut totam omnis voluptatum culpa temporibus similique. Officia, totam.</p>
  <a href="" class="btn btn-primary">JCWEB</a>
</div>