<h1>Navigation</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor explicabo alias libero laudantium fugit deserunt dicta
  sunt enim saepe adipisci neque numquam asperiores reiciendis accusantium quos blanditiis nemo, a natus.</p>
<h1>Footer</h1>